{% extends "base.html" %}
{% block title %}Contact Us{%endblock title%}
{{% block body %}
<h1 class="text-center padding-10px">Contact Us</h1>
<div class="container mt-2">

           {% for message in messages %}

          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <form action="/contact" method="post">
        {% csrf_token %}
        <br />
        <label for="name">Name</label>
        
        <div class="form-group">
          <input
            type="text"
            class="form-control p-2"
            id="name"
            name="name"
            required
          />
        </div>
        <label for="email">Email</label>
        
        <div class="form-group">
          <input
            type="email"
            class="form-control p-2"
            id="email"
            name="email"
            required
          />
        </div>
        <label for="desc">How can I help You?</label>
        <div class="form-group">
          <textarea
            type="password"
            class="form-control p-2"
            id="desc"
            name="desc"
            required>
           </textarea>
        </div>
        <label for="pnumber">Phone Number</label>
        <div class="form-group">
          <input
            type="Number"
            class="form-control p-2"
            id="pnumber"
            name="pnumber"
            required
          />
        </div>
        <br />
        <button type="submit" class="btn btn-dark">Submit</button>
      
        <br />
       
      </form>
    </div>
    <div class="col-md-4"></div>
</div>

</div>
{% endblock body %}}
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec 
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 1000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').live('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>